// Custom styles.
@media screen and (min-width:1200px) {

    body {
    background-image:url(http://pic.victor123.cn/17-12-10/43246777.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    }

    #footer a {
        color:#eee;
    }
}